<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="education.juxin.com.educationpro">

    <permission
        android:name="${JPUSH_PKGNAME}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="${JPUSH_PKGNAME}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ProApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <!-- 启动页 -->
        <activity
            android:name=".ui.activity.home.StartActivity"
            android:theme="@style/CusLauncherUITheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--实现从网页跳转到App-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="myscheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.home.WelcomeActivity"
            android:theme="@style/CusLauncherUITheme" />
        <!-- 首页 -->
        <activity
            android:name=".ui.activity.home.HomeActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--登录页-->
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:launchMode="singleTask" />
        <!-- 注册第一个页面 -->
        <activity android:name=".ui.activity.login.RegisterStepOneActivity" />
        <!-- 注册第二个页面 -->
        <activity android:name=".ui.activity.login.RegisterStepTwoActivity" />
        <!-- 忘记密码第一个页面 -->
        <activity android:name=".ui.activity.login.ForgetPsdStepOneActivity" />
        <!-- 忘记密码第二个页面 -->
        <activity android:name=".ui.activity.login.ForgetPsdStepTwoActivity" />
        <!-- 管理支付宝页面 -->
        <activity android:name=".ui.activity.mine.BindAliPayActivity" />
        <!-- 关于我们的页面 -->
        <activity android:name=".ui.activity.mine.AboutUsActivity" />
        <!-- 设置账号页面 -->
        <activity android:name=".ui.activity.mine.SetAccountActivity" />
        <!-- 管理微信页面 -->
        <activity android:name=".ui.activity.mine.BindWeChatActivity" />
        <!-- 意见反馈页面 -->
        <activity android:name=".ui.activity.mine.FeedbackActivity" />
        <!-- 账号安全页面 -->
        <activity android:name=".ui.activity.mine.AccountActivity" />
        <!-- 设置页面 -->
        <activity android:name=".ui.activity.mine.SettingActivity" />
        <!-- 扫一扫页面 -->
        <activity
            android:name=".ui.activity.home.ScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 体现申请页面 -->
        <activity android:name=".ui.activity.mine.WithdrawActivity" />
        <!-- 我的红包页面 -->
        <activity android:name=".ui.activity.mine.MyWalletActivity" />
        <!-- 个人资料设置页面 -->
        <activity android:name=".ui.activity.mine.PersonDataActivity" />
        <!-- 我的收藏页面 -->
        <activity android:name=".ui.activity.mine.CollectActivity" />
        <!-- 我的关注页面 -->
        <activity android:name=".ui.activity.mine.ConcernActivity" />
        <!-- 购买记录页面 -->
        <activity android:name=".ui.activity.mine.BuyJiLuActivity" />
        <!-- 我的打赏页面 -->
        <activity android:name=".ui.activity.mine.MyRewardActivity" />
        <!-- 搜索页面 -->
        <activity
            android:name=".ui.activity.home.CourseTypeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 搜索结果页面 -->
        <activity android:name=".ui.activity.home.CourseTypeResultActivity" />
        <!-- 空间主页页面 -->
        <activity android:name=".ui.activity.dynamic.SpaceMainActivity" />
        <!-- 课程详情页面 -->
        <activity
            android:name=".ui.activity.dynamic.CourseDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!-- 课程详情页面（单课程 系列课程） -->
        <activity android:name=".ui.activity.dynamic.SpaceAllCourseActivity" />
        <!-- 申请提现 功能页面 -->
        <activity android:name=".ui.activity.mine.DepositActivity" />
        <!-- 详情页 -->
        <!-- 订单页面 -->
        <activity android:name=".ui.activity.home.OrderActivity" />
        <!-- 收银台 支付方式 -->
        <activity android:name=".ui.activity.home.PayModeActivity" />
        <!-- 消息通知界面 -->
        <activity android:name=".ui.activity.mine.MessageNotifyActivity" />
        <!-- 注册协议界面 -->
        <activity android:name=".ui.activity.login.RegisterProtocolActivity" />
        <activity android:name=".ui.activity.home.BuyProtocolActivity" />

        <receiver android:name=".http.NetworkBroadcastReceiver" />

        <!-- 第三方 -->
        <!-- 极光 推送 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="${JPUSH_PKGNAME}.DataProvider"
            android:exported="false" />

        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="${JPUSH_PKGNAME}.DownloadProvider"
            android:exported="true" />

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" />

        <!-- 用户自定义的广播接收器 -->
        <receiver
            android:name=".party3.jpush.CusReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </receiver>

        <!-- 用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".party3.jpush.CusJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </receiver>

        <!-- 友盟 统计 分享 -->
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sdksample" />
            </intent-filter>
        </activity>
        <!-- 新浪微博 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 这里的scheme是qq分享要用的，tencent1106859870为自己申请的appid，真实项目中需要替换 -->
                <data android:scheme="tencent1106859870" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5ae13b76a40fa330af0000bc" />

        <!-- 调起相册 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx24832735d9ff6a0a" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.dynamic.CourseCachePlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!-- 测试 -->
    </application>

</manifest>